@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 300;
  background-color: #2196f3;
  color: white;
}
h1 {
  font-size: 46px;
  color: ghostwhite;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.handler-buttons {
  display: flex;
  justify-content: center;
}
